.scrollTop {
  position: fixed; 
  width: 80vw;
  bottom: 20px;
  align-items: center;
  height: 20px;
  justify-content: center;
  cursor: pointer;
  animation: fadeIn 0.3s;
  transition: opacity 0.4s;
  opacity: 0.5;
  color: #15573F;
  border: 1px solid #15573F;
  box-sizing: border-box;
  border-radius: 25px;
  background-color: transparent;
}

.scrollTop:hover{
  filter: brightness(1.5);
}

.scrollTop:active{
  filter: brightness(1);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}